<h3>Meaning</h3>

<label>Description</label>
<Textarea @value={{@model.description}}/>

<label>Part of Speech</label>
<Input @value={{@model.partOfSpeech}}/>

<label>Synonyms</label>
{{#each @model.synonyms as |synonym|}}
  <Edit::Synonym @model={{synonym}}></Edit::Synonym>
{{/each}}
<button>+</button>