<h2>{{this.model.base}}</h2>

<LinkTo @route="edit" @model="{{this.model.base}}">[edit]</LinkTo>

<ol>
  {{#each this.model.meanings as |meaning|}}
      <li>
        <Meaning @model={{meaning}}></Meaning>
      </li>
  {{/each}}
</ol>

{{outlet}}